body {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
img {
  height: 120px;
  object-fit: cover;
}
@media (min-width: 768px) {
  img {
    height: 180px;
    object-fit: cover;
  } 
}

.buscador {
  width: 90%;
}
.campos-radio {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-top: 15px;
}